
<%= form_tag activate_student_path(@student), method: "put" do %>
<%= h1_tag @student.to_s %>
  <label>Active: </label><input type='radio' <%if @student.active%>checked<%end%> name='active' value ='active'>
  <br></br>
  <label>Inactive: </label><input type='radio' <%if !@student.active%>checked<%end%> name='active' value ='inactive'>
  <br></br>
  <%= submit_tag "Submit Post" %>
<% end %>
